*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:aqua;
    color: black;
}
h2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.image{
    width: 260px;
    height: 158px;
margin: auto;
}